<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webInternship1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.listeners.ConnectionContext</listener-class>
  </listener>
  <listener>
    <listener-class>com.listeners.sessionListener</listener-class>
  </listener>
  <filter>
    <filter-name>logic</filter-name>
    <filter-class>com.Filters.simpleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>logic</filter-name>
    <url-pattern>/book</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>logic1</filter-name>
    <filter-class>com.Filters.simpleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>logic1</filter-name>
    <url-pattern>/signdirect</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>logic2</filter-name>
    <filter-class>com.Filters.constraintFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>logic2</filter-name>
    <url-pattern>/book</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>DriverName</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>Connection</param-name>
    <param-value>jdbc:mysql://localhost:3306/db</param-value>
  </context-param>
  <context-param>
    <param-name>UserName</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>Password</param-name>
    <param-value>saksham026</param-value>
  </context-param>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.ValidateLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginDb</servlet-name>
    <servlet-class>com.ValidateLoginDb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginDb</servlet-name>
    <url-pattern>/logDb</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginDbP</servlet-name>
    <servlet-class>com.ValidateLoginDbP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginDbP</servlet-name>
    <url-pattern>/logDbP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.Register</servlet-class>
    <init-param>
      <param-name>company</param-name>
      <param-value>zensar</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login1</servlet-name>
    <servlet-class>com.servlets.MainServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login1</servlet-name>
    <url-pattern>/logdirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login1</servlet-name>
    <url-pattern>/signdirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginSession</servlet-name>
    <servlet-class>com.servlets.CheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginSession</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginBook</servlet-name>
    <servlet-class>com.servlets.bookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginBook</servlet-name>
    <url-pattern>/shopbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginBill</servlet-name>
    <servlet-class>com.servlets.calculateBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginBill</servlet-name>
    <url-pattern>/calculate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.servlets.cartLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/terminate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>paying</servlet-name>
    <servlet-class>com.servlets.payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paying</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
</web-app>